#contact {
  background: rgb(51, 51, 51);
  padding: 20px 10px 25px 10px;
  width: 100%;
  max-width: none;
  margin: 0;
}

#contactHeading, #socialHeading {
  color: #DDD;
}

span.infoHidden { 
  display: inline;
  margin: 10px 0;
  font-size: 1em;
  color: #FFF;
}

#phoneDiv {
  margin: 0 0 10px 0;
}